body {
    background-color:antiquewhite;
}

#container {
    width: 900px;
    margin: 0px auto;
    border: green 4px dotted; 
    border-radius:20px;
    overflow:hidden;
}

header {
    height: 200px;
    background-color: white;
    border-bottom: black 2px solid;
}

header nav {
    height:200px;
    border-bottom: 1px solid black;
}

header img {
    float: left;
}
header nav ul {
    /* border: 1px solid red; */
    list-style-type: none;
    padding-left: 0;
    text-align: right;
}

header nav li {
    /* border: 1px solid green; */
    width: 150px;
    display: inline-block;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 22px;
}
/* pseudoclasses change style based on some other 'state' in the document */
header nav li a:visited {
    color:purple;
}

header h1 {
    margin-block-start:0;
    margin-block-end:0;
    text-align: center;
}
a:hover {
    color:wheat;
    text-decoration: underline;
}


main {
    height: 500px;
    background-color: white;
    border-bottom: black 2px solid;
}

footer {
    height: 200px;
    background-color: black;
    color:white;
    text-align: center;
}

footer p {
    margin-block-start: 0;
}


